.article-container-analytics
    max-width: 1200px
    width: 100%
    margin: 0 auto
    display: block
    float: right

.article-header-analytics
  max-width: 1200px
  margin: 0 auto
  padding: 70px
  background-image: url(../img/header_bg.svg)
  background-repeat: no-repeat
  background-position-x: 90%
  background-size: 22%
  @media (max-width: 991px)
    background-image: none

.analytics-intro
  width: 100%
  margin: 0 auto
  h1
    font-family: font-title
    font-weight: bold
    line-height: 40px
    font-size: 32px
    text-decoration: none
    color: #000
    margin-bottom: 16px
  p
    color: #939BA1
    margin-bottom: 28px
    a
        font-weight: bold
        text-decoration: none
        color: #4360DF
  @media (max-width: 767px)
    width: 80%
  
.analytic-item-inner
    margin-top: 50px
    h2
        font-size: 22px
    a
        font-weight: 700
        text-decoration: none
        color: #4360DF 
        font-size: 18px

.analytic-item-image
    width: 75% !important

.graph
    margin-bottom: 12px