.article-header-contribute
  max-width: 1200px
  margin: 0 auto
  padding: 50px 0 20px
  display: flex
  justify-content: space-between
  background-image: url(../img/header_bg.svg)
  background-repeat: no-repeat
  background-position-x: 90%
  background-size: 18%
  flex-direction: column
  h1
    font-family: font-title
    font-weight: bold
    line-height: 40px
    font-size: 32px
    text-decoration: none
    color: #000
    transition: 0.2s
    margin-bottom: 12px
  p
    font-family: font-title
    font-size: 16px
    line-height: 25px
    color: #939ba1
  ul
    display: flex
    flex-wrap: wrap
    margin-bottom: -18px
    margin-top: 24px
    overflow: auto;
    @media screen and (max-width: break-xl)
      flex-wrap: nowrap
      width: calc(100% + 40px);
      margin-left: -20px;
      padding: 0 20px;
      &:after
        content: ''
        min-width: 24px
        height: 24px
        display: flex
    li
      width: calc(33.33% - 16px)
      background: #fff
      box-shadow: 0px 2px 4px rgba(43, 59, 71, 0.124066)
      border-radius: 8px
      margin-right: 24px
      margin-bottom: 24px
      padding: 24px
      position: relative
      display: flex
      align-items: center
      transition: all 0.3s ease-in-out
      &:nth-child(3n)
        margin-right: 0
        @media screen and (max-width: break-xl)
          margin-right: 24px
      &:last-child
        @media screen and (max-width: break-xl)
          margin-right: 0
      &:hover
        background: #f3f5ff;
        img
          transform: translateX(3px)
      @media screen and (max-width: break-xl)
        width: 270px
        max-width: calc(100% - 30px)
        flex: none
      .inner
        padding: 0;
        width: 100%;
        h3
          font-weight: bold;
          line-height: 24px;
          font-size: 16px;
          color: #4360DF;
        p
          line-height: 24px;
          font-size: 16px;
          color: #939BA1;
      a
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
      img
        transition: all 0.3s ease-in-out