.container-footer
  max-width: 1240px
  margin: 0 auto
  padding: 0 20px
  display: flex
  flex-direction: column
  .footer-wrap
    display: flex
    flex-wrap: wrap;
    h3
      margin-bottom: 50px
      width: 100%
      @media screen and (max-width: break-sm)
        margin-bottom: 30px
    .ecosystem-footer-wrap 
      flex-direction: row
      flex-wrap: wrap
      display: flex
      max-width: calc(33.333333% + 50px)
      @media screen and (max-width: break-xl)
        max-width: calc(50% + 50px)
      @media screen and (max-width: break-lg)
        max-width: 100%;
        margin-bottom: 50px;
      @media screen and (max-width: break-sm)
        margin-bottom: 30px
      .ecosystem-footer
        width: calc(50% - 25px)
        margin-bottom: 30px
        &:nth-of-type(2n)
          margin-left: auto
        h4
          line-height: normal
          font-size: 20px
          margin-bottom: 10px
          font-family: 'GT Walsheim'
          a
            color: #FFFFFF
            font-weight: bold
            text-decoration: none
            &:hover
              opacity: .7
        p
          line-height: 20px;
          font-size: 14px;
          color: #FFFFFF;
          opacity: 0.4;
    .company
      max-width: 16.666667%
      margin-left: auto
      margin-right: 100px
      @media screen and (max-width: break-lg)
        margin-left: 0
        max-width: calc(50% - 25px)
        width: 100%
        margin-right: auto
      @media screen and (max-width: break-sm)
        max-width: 100%
      a
        line-height: 24px;
        font-size: 16px;
        text-decoration: none
        color: #FFFFFF;
    .social-links
      max-width: 25%
      @media screen and (max-width: break-lg)
        max-width: calc(50% - 25px)
        width: 100%
      @media screen and (max-width: break-sm)
        max-width: 100%
        margin-top: 30px;
      a
        line-height: 24px;
        font-size: 16px;
        text-decoration: none
        color: #FFFFFF;
      .chat-footer
        margin-bottom: 25px
        a
          display: inline-block;
          font-size: 14px;
          text-transform: uppercase;
          letter-spacing: 1px;
          padding: 10px 32px 9px;
          font-weight: 500;
          line-height: normal;
          color: #fff;
          text-align: center;
          box-shadow: 0px 2px 4px rgba(43,59,71,0.124);
          transition: all 0.3s ease-in-out;
          background: #3C3F4D;
          box-shadow: 0px 2px 4px rgba(43, 59, 71, 0.124066);
          border-radius: 20px;
          &:hover
            opacity: .7
  .footer-info
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    margin-top: 30px
    p
      line-height: 20px
      font-size: 14px
      text-align: center
      color: #FFFFFF
      opacity: 0.4
      margin-top: 5px
  .features
    display: flex
    list-style-type: none
    margin: 16px 0 0 0
    padding: 0
    justify-content: center
    flex-wrap: wrap
    max-width: 100%
    li
      margin-right: 20px
      flex: 1
      padding: 0 30px 15px 30px
      display: flex
      flex-direction: column
      align-items: center
      text-align: center
      border-radius: 16px
      @media screen and (max-width: break-md)
        flex: auto
        width: 100%
        margin: 0 0 20px
      &:last-child
        margin-right: 0
        @media screen and (max-width: break-md)
          margin: 0
      h4
        margin: 25px 0 8px 0
        font-weight: bold
        color: #ffffff
      p
        font-weight: normal
        line-height: 24px
        font-size: 16px
        text-align: center
        margin: 0
        color: #ffffff;
        opacity: 0.4;
  .footer-menu
    border-top: 1px solid rgba(255,255,255,0.1)
    display: flex
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    flex-wrap: wrap
    a
      font-size: 14px;
      color: #FFFFFF;
      text-decoration: none;
      margin: 0 13px 13px 13px;
      &:hover
        opacity: .7
      
.footer
  width 100%
  display flex
  justify-content center
  background-color #262A39
  position relative
  z-index 998
  margin 0 0 0 0

.footer-inner
  display flex
  flex-direction column
  align-items center
  justify-content space-between
  width 1200px
  padding 32px 0

.cards--community
  &.cards--community--dark
    margin 0
    .card-inner
      background-color transparent
    a
      h4
        color $colorWhite
      p
        color $colorGray
        opacity .7
      &:hover
        h4
          opacity 0.8

.cards--community--dark
  .community-icon--join
    background-image url(../img/icon-join-dark.svg)
  .community-icon--discussion
    background-image url(../img/icon-discussion-dark.svg)
  .community-icon--contrubute
    background-image url(../img/icon-contribute-dark.svg)

.footer-nav
  width 100%
  display flex
  align-items center
  justify-content center
  margin 32px 0 0 0
  padding 32px 0
  border-top 1px solid rgba(255, 255, 255, .1)
  li
    a
      padding 0 12px
      color $colorWhite
      &:hover
        opacity .8

.footer-logo-wrap
  width 317px
  display flex
  text-align center

.footer-logo-wrap__inner
  width 100%
  display flex
  flex-direction column
  justify-content space-between
  align-items center
  padding 16px 0 16px 0

a
  &.footer-logo
    display block
    width 52px
    height 52px
    background-size 52px
    background-image url(../img/footer-logo.svg)
    &:hover
      opacity .8

.footer-address
  padding 20px 0 0 0
  color #939ba1

.footer-table
  display flex

.footer-table__column
  box-sizing border-box
  padding 32px 74px 64px

.footer-header
  color white
  opacity .5
  margin 0 0 40px 0

.footer-link
  height 32px
  line-height 32px
  margin 0 0 15px 0
  a
    display flex
    align-items center
    color white
    text-decoration none
    &:hover
      opacity .8

.footer-icon
  display inline-block
  width 32px
  height 32px
  background-color rgba(255, 255, 255, 0.1)
  border-radius 50%
  margin 0 15px 0 0
  background-repeat no-repeat
  background-size 24px
  background-position center

.footer-link--fb
  .footer-icon
    background-image: url(../img/icon_fb.svg)

.footer-link--tw
  .footer-icon
    background-image: url(../img/icon_tw.svg)

.footer-link--ri
  .footer-icon
    background-image: url(../img/icon_ri.svg)

.footer-link--gh
  .footer-icon
    background-image: url(../img/icon_gh.svg)

.footer-link--rd
  .footer-icon
    background-image: url(../img/icon_rd.svg)

.footer-link--yt
  .footer-icon
    background-image: url(../img/icon_yt.svg)

.language-switcher
  color white
  -webkit-appearance none
  font-size 16px
  line-height 32px
  padding 0 24px 0 0
  background-image url(../img/new-site/icon_dropdown-white.svg)
  background-size 24px
  background-repeat no-repeat
  background-position right center
  &:focus
    outline none

@media (max-width: 1248px)
  .footer-inner
    width 100%
    padding 32px 24px
  .footer-logo-wrap
    //width 200px

@media (max-width: 960px)
  .cards--community
    &.cards--community--dark
      .card-inner
        height auto
        min-height 180px
  .footer-inner
    width 820px
    justify-content space-around

@media (max-width: 800px)
  .cards--community
    &.cards--community--dark
      margin 0 auto
      max-width 375px
      .card-inner
        padding 0 12px

@media (max-width: 767px)
  .footer
    border-top 0px
  .footer-inner
    padding 40px 0 0 0
    flex-direction column
  .footer-header
    margin 0 0 16px 0
  .footer-table
    flex-direction column
    align-items center
    justify-content center
  .footer-table__column
    text-align center
    padding 16px 16px
  .footer-nav
    margin 0 0 0 0
  .footer-link
    text-align center
    height 24px
    line-height 24px
    margin 0 0 16px 0
    a
      justify-content center
      text-align center
  .footer-icon
    display none
  .footer-logo-wrap
    width auto
    order 2
  .footer-logo-wrap__inner
    width 100%
    padding 32px 0 40px 0
    align-items center
    text-align center

    