.get-wrapper
    height: 970px
    @media (max-width: 880px)
        height: 750px
    @media (max-width: 459px)
        height: 550px
    @media (max-width: 391px)
        height: 650px

#content-inner-get
    display: flex
    width: 100%

.article-container-get
    max-width: 800px
    width: 100%
    margin: 40px auto
    display: block
    float: right

.article-header-get
  max-width: 1200px
  margin: 0 auto
  padding-top: 70px
  height: 745px
  @media (max-width: 767px)
    height: 295px

.get-intro
  width: 100%
  text-align: center
  margin: 0 auto
  h1
    font-family: font-title
    font-weight: bold
    line-height: 40px
    font-size: 32px
    text-decoration: none
    color: #000
    margin-bottom: 16px
  p
    color: #939BA1
    margin-bottom: 28px
    @media (max-width: 459px)
        display: none
  @media (max-width: 767px)
    width: 80%

.os-arrow
    margin-bottom: 0 !important

.get-wrap
    max-width: 1000px
    width: 100%

.get-screen
    display: block
    float: left
    width: 60%
    align-items: center
    justify-content: center
    @media (max-width: 880px)
        img
            width: 90%
    @media (max-width: 459px)
        img
            display: none

.get-buttons
    display: block
    float: left
    width: 40%
    padding: 40px
    @media (max-width: 459px)
        width: 100%
        padding: 0 40px
    
.get-content
    h2
        margin-top: 32px

.get-mobile
    margin-top: 52px
    img
        margin-bottom: 16px
    h2
        font-weight: bold
        line-height: normal
        font-size: 16px
        color: #000000
        margin-bottom: 8px
    p
        line-height: 24px
        font-size: 16px
        color: #939BA1
        margin-bottom: 8px
        a
            color: #4360DF
            text-decoration: none
    @media (max-width: 880px)
        margin-top: 18px
        text-align: center