.nightly-builds-wrap
    width: 100%
    display: inline-block
    margin: 50px 0

.box 
    width: 46%
    float: left
    a
        color: #4360DF
        text-decoration: none
        font-weight: bold
    @media (max-width: 991px)
        width: 100%
        a
            img
                width: 40%


.nightly-headings
    a
        color: #4360DF
        text-decoration: none
        font-weight: bold
