.nightly-page {
    float: left;
    width: 100%;
    margin-top: 24px;
    min-height: 1100px;
    height: 100%;
}
.box {
    width: 50%;
    float: left;
    padding: 24px;
    height: 370px;
}

@media screen and (max-width:820px) {
    .nightly-page {
        min-height: 1800px;
    }

    .box {
        width: 100%;
        margin-bottom: 24px;
    }
}
