
.cards--projects {
  .card {
    display: flex;

    .card-inner {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 12px;
      padding: 24px;
      border-radius: 16px;
      background-color: $colorWhite;

      a:hover {
        text-decoration: none;
      }

      .card-content {
        overflow: hidden;

        h3 {
          margin-bottom: 8px;
        }

        p.secondary-text {
          word-break: break-word;
        }
      }

      .card-projects__link {
        margin-top: 16px;
      }
    }
  }

  @media (max-width: 1248px) {
    padding: 0 24px;
  }

  @media (max-width: 960px) {
    .card h3 {
      font-size: 18px;
      padding: 0 0 8px 0;
    }
  }

  @media (min-width: 521px) {
    .card {
      .card-inner {
        transition: background-color .1s ease;

        &:hover {
          h3 {
            color: $colorWhite;
            transition: color .1s ease;
          }

          p.secondary-text {
            color: $colorWhite;
            opacity: .6;
            transition: color .1s ease;
          }

          .link-arrow {
            color: $colorWhite;
            transition: color .1s ease;
          }
        }

        .card-content {
          min-height: 186px;
        }
      }

      &:nth-child(6n+1) {
        h3,
        .link-arrow {
          color: $colorBlue;
        }

        .card-inner {
          &:hover {
            background-color: $colorBlue;
          }
        }
      }

      &:nth-child(6n+2) {
        h3,
        .link-arrow {
          color: $colorIncubate;
        }

        .card-inner {
          &:hover {
            background-color: $colorIncubate;
          }
        }

        .link-arrow::after {
          background-image: url(../img/icon-arrow-right-incubate.svg);
        }
      }

      &:nth-child(6n+3) {
        h3,
        .link-arrow {
          color: $colorEmbark;
        }

        .card-inner {
          &:hover {
            background-color: $colorEmbark;
          }
        }

        .link-arrow::after {
          background-image: url(../img/icon-arrow-right-embark.svg);
        }
      }

      &:nth-child(6n+4) {
        h3,
        .link-arrow {
          color: $colorStudio;
        }

        .card-inner {
          &:hover {
            background-color: $colorStudio;
          }
        }

        .link-arrow::after {
          background-image: url(../img/icon-arrow-right-studio.svg);
        }
      }

      &:nth-child(6n+5) {
        h3,
        .link-arrow {
          color: $colorNimbus;
        }

        .card-inner {
          &:hover {
            background-color: $colorNimbus;
          }
        }

        .link-arrow::after {
          background-image: url(../img/icon-arrow-right-nimbus.svg);
        }
      }

      &:nth-child(6n+6) {
        h3,
        .link-arrow {
          color: $colorHardwallet;
        }

        .card-inner {
          &:hover {
            background-color: $colorHardwallet;
          }
        }

        .link-arrow::after {
          background-image: url(../img/icon-arrow-right-hardwallet.svg);
        }
      }
    }
  }

  @media (max-width: 520px) {
    padding: 0 16px;

    .card {
      &:not(:first-child) {
        margin-top: -52px;
      }

      &:not(:last-child) {
        .card-inner {
          .card-content {
            padding: 0 0 16px 0;
          }
        }
      }

      .card-inner {
        padding-bottom: 32px;

        .card-content {
          h3,
          p.secondary-text {
            color: $colorWhite;
          }

          h3 {
            transition: color .1s ease;
          }

          p.secondary-text {
            opacity: .6;
          }
        }

        .card-projects__link {
          display: none;
        }
      }

      &:nth-child(6n+1) {
        .card-inner {
          background-color: $colorBlue;
        }
      }

      &:nth-child(6n+2) {
        .card-inner {
          background-color: $colorIncubate;
        }
      }

      &:nth-child(6n+3) {
        .card-inner {
          background-color: $colorEmbark;
        }
      }

      &:nth-child(6n+4) {
        .card-inner {
          background-color: $colorStudio;
        }
      }

      &:nth-child(6n+5) {
        .card-inner {
          background-color: $colorNimbus;
        }
      }

      &:nth-child(6n+6) {
        .card-inner {
          background-color: $colorHardwallet;
        }
      }
    }
  }
}
