<footer class="footer footer--homepage">
    <div class="footer-inner">
        <div class="cards cards--three cards--three--even cards--community cards--community--dark">
            <div class="card">
                <a href="https://status.im/get/" class="card-inner">
                    <div class="community-icon community-icon--join"></div>
                    <h4>Join the chat in Status</h4>
                    <p class="secondary-text">Whisper sweet, encrypted nothings on a distributed network that no-one owns.</p>
                </a>
            </div>
            <div class="card">
                <a href="https://discuss.status.im" class="card-inner">
                    <div class="community-icon community-icon--discussion"></div>
                    <h4>Join the Discussion</h4>
                    <p class="secondary-text">Join longer discussions, work in progress, and our research here.</p>
                </a>
            </div>
            <div class="card">
                <a href="https://github.com/status-im" class="card-inner">
                    <div class="community-icon community-icon--contribute"></div>
                    <h4>Contribute to our Repos</h4>
                    <p class="secondary-text">Help us #buidl the future by getting involved in the most active code base in Ethereum.</p>
                </a>
            </div>
        </div>
        <ul class="footer-nav">
            <li><a href="/contribute/open_positions.html">Open Positions</a></li>
            <li><a href="/contribute/our_principles.html">Principles</a></li>
            <li><a href="/get/">Get Status</a></li>
        </ul>
        <div class="footer-logo-wrap">
            <div class="footer-logo-wrap__inner">
                <a class="footer-logo" href="https://status.im" target="_blank"></a>
                <div class="footer-address secondary-text">Status Research & Development GmbH<br/>Baarerstrasse 10<br/>Zug, Switzerland</div>
            </div>
        </div>
    </div>
</footer>