<!-- The main content area -->
<main id="main" role="main">

    <div class="stripe">
      <b>Status Documentation</b>
      <form action="/" id="search-form" _lpchecked="1">
        <input id="search-input" placeholder="Search documentation…">
      </form>
    </div>
  
    <section class="single-docs-content">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <%- partial('partial/sidebar') %>
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-12">
                <div class="editor-content">
                  <%- page_anchor(page.content) %>
                    <div class="analytic-items">
                        <div class="analytic-item">
                            <h2>User Analytics</h2>
                            <p class="analytics-list"><a href="./app_downloads.html">App Downloads</a></p>
                            <p class="analytics-list"><a href="./messages.html">Messages</a></p>
                            <p class="analytics-list"><a href="https://analytics.status.im/">SNT Use Cases</a></p>
                        </div>
                        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                        <div class="analytic-item-image" id="whisper-distinct-users-daily"></div>
                        <script src="./charts/whisper_distinct_users_daily.js"></script>
                        <div class="analytic-item-image analytic-item-image-right" id="whisper-messages-daily"></div>
                        <script src="./charts/whisper_messages_daily.js"></script>
                        <div class="analytic-item">
                            <h2>Other Important Metrics</h2>
                            <p class="analytics-list"><a href="./crypto_oss.html">Crypto OSS Contributions</a></p>
                            <p class="analytics-list"><a href="./oss.html">OSS Contributions</a></p>
                            <p class="analytics-list"><a href="./run_it_yourself.html">Run It Yourself</a></p>
                        </div>
                    </div>
                    <div class="sections">
                        <div class="inner-header analytics-content">
                            <h2>Other Relevant Graphs</h2>
                            <p>Just in case you don't want to wander through this whole site, here are the most relevant analytics charts we look at:</p>
                        </div>
                        <div class="graph-wrap">
                            <div class="graph">
                                <img src="./img/netnewinstalls_weekly.png" />
                            </div>
                            <div class="graph">
                                <img src="./img/netnewinstalls_daily.png" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="docs-footer">
                  Last update: <%- page.updated.format(config.date_format) %>
                  <%- page_nav() %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
  </main>
