<!-- The main content area -->
<main id="main" role="main">

  <div class="stripe">
    <b>Status Documentation</b>
    <form action="/" id="search-form" _lpchecked="1">
      <input id="search-input" placeholder="Search documentation…">
    </form>
  </div>

  <section class="single-docs-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <div class="editor-content">
                <%- page_anchor(page.content) %>
                <div class="fiddle">
                  <div id="app"></div>
                </div>
              </div>
              <div class="docs-footer">
                Last update: <%- page.updated.format(config.date_format) %>
                <%- page_nav() %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>

<!-- Fiddle -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.44.0/codemirror.min.css">
<script src="/js/fiddle/lib/codemirror.js"></script>
<script src="/js/fiddle/lib/clojure.js"></script>
<script src="/js/fiddle/lib/parinfer.js"></script>
<script src="/js/fiddle/lib/parinfer-codemirror.js"></script>
<script src="/js/fiddle/js/compiled/app.js"></script>
<script>status_fiddle.core.init();</script>
<style>
.CodeMirror{
  box-sizing: border-box;
  padding: 10px;
  height: 100%!important;
  border: 1px solid #eef2f5;
}
</style>