<div class="page-intro wrapper">
     <div class="get-status-intro get-status-intro--desktop">
          <h2>Get Status for Desktop</h2>
          <p>Because making Ethereum accessible from anywhere also means it should be easy to use from where you work.</p>
      </div>

      <div class="get-status-desktop-warning">
        <p>This is alpha software and may contain vulnerabilities. Please expect changes.</p>
      </div>

      <div class="get-status-desktop">
        <div class="get-status-desktop-links">
          <ul>
            <li><a href="https://ci.status.im/job/status-react/job/combined/job/desktop-macos/4971/artifact/StatusImPackage/StatusIm-181224-165548-797a3a-release.dmg" class="desktop-link desktop-link--mac link-arrow">Get for Mac OS</a></li>
            <li><a href="https://ci.status.im/job/status-react/job/combined/job/desktop-linux/4958/artifact/StatusImPackage/StatusIm-181224-165548-797a3a-release.AppImage" class="desktop-link desktop-link--linux link-arrow">Get for Linux</a></li>
            <li><a href="https://ci.status.im/job/status-react/job/combined/job/desktop-windows/1443/artifact/StatusImPackage/StatusIm-181224-165548-797a3a-release.exe" class="desktop-link desktop-link--windows link-arrow">Get for Windows</a></li>
          </ul>
        </div>
        <div class="get-status-desktop-mobile-warning">
          <p>This is alpha software and may contain vulnerabilities. Please expect changes.</p>
        </div>
        <div class="get-status-desktop-mobile-links">
          <a class="button" href="https://ci.status.im/job/status-react/job/combined/job/desktop-macos/4971/artifact/StatusImPackage/StatusIm-181224-165548-797a3a-release.">
              <span class="button-icon button-icon--ios"></span>
              Get Status for Mac OS
          </a>
          <a class="button" href="https://ci.status.im/job/status-react/job/combined/job/desktop-linux/4958/artifact/StatusImPackage/StatusIm-181224-165548-797a3a-release.AppImage">
              <span class="button-icon button-icon--linux"></span>
              Get Status for Linux
          </a>
          <a class="button" href="https://ci.status.im/job/status-react/job/combined/job/desktop-windows/1443/artifact/StatusImPackage/StatusIm-181224-165548-797a3a-release.exe">
            <span class="button-icon button-icon--windows"></span>
            Get Status for Windows
          </a>
        </div>
        <div class="get-status-desktop-screen">
          <div class="get-status-desktop-screen-inner"></div>
        </div>

      </div>
</div>
