<!-- The main content area -->
<main id="main" role="main">

    <div class="stripe">
      <b>Status Documentation</b>
      <form action="/" id="search-form" _lpchecked="1">
        <input id="search-input" placeholder="Search documentation…">
      </form>
    </div>
  
    <section class="single-docs-content">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <%- partial('partial/sidebar') %>
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-12">
                <div class="editor-content">
                  <%- page_anchor(page.content) %>
                  <div class="docs-content">
                    <div class="categories">
                      <div id="advocacy-programs" class="cards cards--projects cards--three"></div>
                    </div>
                  </div>
                </div>
                <div class="docs-footer">
                  Last update: <%- page.updated.format(config.date_format) %>
                  <%- page_nav() %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
  </main>