<style>
{{ range $i, $e := .Params }}
.tab-{{ $e }}:checked ~ .content-{{ $e }} {{ if ne $i (sub (len $.Params) 1) }}, {{end}}
{{ end }} {
    display: block;
}
</style>
<div class="content tabs">
   {{ $group := (delimit (shuffle (split "abcdefghijklmnozqrstuvwxyz" "")) "") }}
    {{ range .Params }}
        <input id="tab-{{ . }}-{{ $group }}" class="tab tab-{{ . }}" type="radio" name="tabs-{{ $group }}" checked>
        <label for="tab-{{ . }}-{{ $group }}" class="tab">{{ . }}</label>
    {{ end }}
{{ .Inner }}
</div>